.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border: solid 3px;
    border-color: darkred;
    border-radius: 15px;
    width: 500px;
    padding: 10px;
}

.optionHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: crimson;
    margin: 10px;
}
