.choicesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
    margin: 0;
}

.options {
    list-style: none;
    padding: 0px;
    width: 100%;
}

.title {
    color: cornflowerblue;
}
