.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    border: solid;
    border-color: black;
    border-radius: 15px;
}

.title {
    color: chartreuse;
}
