.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.inputLabel {
    text-align: center;
    font-weight: bold;
}

.textField {
    background-color: cornflowerblue;
    height: 30px;
    border: solid 3px;
    border-radius: 10px;
    border-color: darkslateblue;
    color: darkslateblue;
    font-weight: bold;
    outline: none;
    width: 300px;
    text-align: center;
    font-size: large;
    caret-color: yellow;

    &:hover {
        font-size: larger;
        height: 30px;
        width: 300px;
    }

    &::placeholder {
        color: slateblue;
    }
}
