.addButton {
    font-weight: bold;
    width: 35px;
    height: 35px;
    border: solid 1px;
    border-radius: 5px;
    font-size: large;
    margin-top: 10px;
    color: darkcyan;
    background-color: chartreuse;
    border-color: darkcyan;
    margin: 10px;

    &:hover {
        font-size: larger;
    }    
}
