.addButton {
    font-weight: bold;
    width: 35px;
    height: 35px;
    border: solid 2px;
    border-radius: 5px;
    font-size: large;
    margin-top: 10px;
    color: mediumslateblue;
    background-color: deepskyblue;
    border-color: mediumslateblue;
    margin: 10px;

    &:hover {
        font-size: larger;
    }    
}
